<aside class="col-lg-3 col-md-4 col-sm-12 aside">
  <div class="aside-content">
    <div class="sidebar-sticky pt-4">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/production/dashboard/"> Productos </a>
        </li>
        <!-- Divider -->
        <hr class="my-2" />
        <li class="nav-item">
          <a class="nav-link active" href="/production/stock/review">
            Revisar stock
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<script src="/js/custom.js"></script>
<!-- Bootstrap JS and dependencies -->
